
body {
    background-color: black;
    background-size: cover;
}

.titulo {
    text-align: center;
    margin-top: 200px;
    color: rgb(255, 204, 0);
    font-family: 'Press Start 2P', cursive;
}

.texto {
    margin-top: 50px;
    text-align: center;
    font-family: 'Goldman', cursive;
    color: rgb(255, 204, 0);

}

.lista_banda_sonora {
    list-style-type: none;
    font-family: 'Dancing Script', cursive;
}

button {
    display: inline-block;
    background-color: rgb(65, 65, 65);
    border: 4px double #cccccc;
    color: rgb(255, 204, 0);
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
    font-family: 'Press Start 2P', cursive;
}

.boton {
    text-align: center;
    margin-top: 25px;
}

button:hover {
    color: white;
}

