body {
    background-image: linear-gradient(black, white);
    background-size: cover;
}

.titulo {
    text-align: center;
    margin-top: 200px;
    color: rgb(255, 204, 0);
    font-family: 'Press Start 2P', cursive;
}

button {
    display: inline-block;
    background-color: rgb(65, 65, 65);
    border: 4px double #cccccc;
    color: rgb(255, 204, 0);
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
    font-family: 'Press Start 2P', cursive;
}

.canvas {
    margin: auto;
}

.boton {
    text-align: center;
    margin: auto;
}

button:hover {
    color: white;
}